{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
    | Add movie
{%endblock%}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <form method="post">
                <legend><h4>Add movie</h4></legend>
                {% csrf_token %}
                {{ form|bootstrap }}
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Submit</button>
                    <a href="javascript:history.back()" role="button" class="btn btn-dark">Back</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}