{% extends 'base.html' %}

{% block content%}
    <h1>Ratings</h1>
    <div class="col-md-6">
        <div class="card-body">
            <h2>Actors rating:</h2>
            {% for el in actors_rating %}
            {{ el|join:': '}} point(s)<br>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-6">
        <div class="card-body">
            <h2>Movies rating:</h2>
            {% for el in movies_rating %}
            {{ el|join:': ' }} point(s)<br>
            {% endfor %}
        </div>
    </div>

{% endblock %}
