{% extends 'base.html' %}

{% block title %}
    | Ratings
{%endblock%}

{% block content%}
    <div class="col-md-6">
        <div class="card-body">
            <h4>Actors rating:</h4>
            {% for el in actors_rating %}
            {{ el|join:': '}} point(s)<br>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-6">
        <div class="card-body">
            <h4>Movies rating:</h4>
            {% for el in movies_rating %}
            {{ el|join:': ' }} point(s)<br>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-body">
           <a href="javascript:history.back()" role="button" class="btn btn-dark">Back</a>
        </div>
    </div>
{% endblock %}
